<% layout("/layouts/bootstrap") %>
<main class="flex-grow-1"> 
  
<div class="alert alert-danger" id="er" role="alert">
    
    <h4 class="alert-heading">Invalid id!</h4>
    <p>The id you requested was not found or it no longer exists.</p>
    <hr>
    <p class="mb-0">Please check for spelling mistakes.</p>
  </div>
</main>
